{% extends 'base.html' %}

{% block content %}

<h1 class="center">Move Details</h1>

<div class="row center">
    <div class="col s6 col-offset-3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ move.name }}</span>
          {% if move.type == 'Normal' %}
            <p>Type:<span class="white-text"> {{ move.type }}</span></p>
            {% elif move.type == 'Fire' %}
            <p>Type:<span class="red-text"> {{ move.type }}</span></p>
            {% elif move.type == 'Water' %}
            <p>Type:<span class="blue-text"> {{ move.type }}</span></p>
            {% elif move.type == 'Grass' %}
            <p>Type:<span class="green-text"> {{ move.type }}</span></p>
            {% elif move.type == 'Electric' %}
            <p>Type:<span class="yellow-text"> {{ move.type }}</span></p>
            {% endif%}
          <p>Level Requirement: {{ move.level_requirement }}</p>
          <p>Description: {{ move.description }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'moves_update' move.id %}">Edit</a>
          <a href="{% url 'moves_delete' move.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

