{% extends 'base.html' %}

{% block content %}

<h1 class="center">Move Details</h1>

<div class="row center">
    <div class="col s6 col-offset-3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ move.name }}</span>
            <p>Type:<span class="{{move.type}}-color"> {{ move.type }}</span></p>
          <p>Level Requirement: {{ move.level_requirement }}</p>
          <p>Description: {{ move.description }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'moves_update' move.id %}">Edit</a>
          <a href="{% url 'moves_delete' move.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

