{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokemon Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue darken-3">
        <ul>
          <li><a href="/" class="left brand-logo">Pokellector</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'index' %}">View All My Pokemons</a></li>
          <li><a href="{% url 'moves_create' %}">Unlock New Moves</a></li>
          <li><a href="{% url 'moves_index' %}">All Moves</a></li>
          <li><a href="{% url 'pokemons_create' %}">Catch a Pokemon</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
        <img class="ball-icon" src="{% static 'css/pokeball.png' %}" width="50px">
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer blue darken-3">
    <div class="left">&nbsp&nbsp All Rights Reserved, &copy; 2022 Pokellector</div>
  </footer>
</body>
</html>
