{% extends 'base.html' %} {% block content %}

<h1 class="center">Pokemon Details</h1>

<div class="interact-box">
  <div class="add-margin">
    <div class="row">
      <div class="col s6 margin-right">
        <div class="card">
          <div class="card-content center">
            <span class="card-title">{{ pokemon.name }}</span>
            <p>Level: <span class="level-color">{{ pokemon.level }}</span></p>
            <p>Type: {{ pokemon.type }}</p>
            <p>Description: {{ pokemon.description }}</p>
          </div>
          <div class="card-action flex-box">
            <a href="{% url 'pokemons_delete' pokemon.id %}">Release</a>
            <a class="blue-text" href="{% url 'pokemons_update' pokemon.id %}"
              >Edit</a
            >
          </div>
        </div>
      </div>
      <div class="attention-msg">
      {% if pokemon.interact_for_today >= 3 %}
      <div class="card-panel purple-text center-align transparent-box">
        {{pokemon.name}} is very happy today!
      </div>
      {% elif pokemon.interact_for_today >= 2 %}
      <div class="card-panel green-text center-align transparent-box">
        {{pokemon.name}} is satisfied!
      </div>
      {% elif pokemon.interact_for_today >= 1 %}
      <div class="card-panel yellow-text center-align transparent-box">
        {{pokemon.name}} still needs attention!
      </div>
      {% else %}
      <div class="card-panel red-text center-align transparent-box">
        {{pokemon.name}} is very bored!
      </div>
      {% endif %}
    </div>
      <div class="col s6">
        {% if pokemon.interact_for_today <= 2 %}
        <form action="{% url 'add_interaction' pokemon.id %}" method="POST">
          {% csrf_token %} {{ interaction_form.as_p }}
          <div class="add-interact-btn">
            <input type="submit" class="btn" value="Add Interaction" />
          </div>
        </form>
        {% else %}
        <div class="max-text">MAX INTERACTION REACHED, COME BACK TOMORROW!</div>
        {% endif %}
        <br />
        <table class="striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Interaction</th>
            </tr>
          </thead>
          <tbody>
            {% for interaction in pokemon.interaction_set.all %}
            <tr>
              <td>{{interaction.date}}</td>
              <td>{{interaction.get_interact_display}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3 class="center white-text">{{ pokemon.name }}'s Moves</h3>
    {% if pokemon.moves.count %}
      {% for move in pokemon.moves.all %}
        <div class="card">
          <div class="card-content center">
            <span class="card-title">
              <h5>{{ move.name }}</h5>
              <p class="{{move.type}}-color">{{ move.type }}</p>
              <p class="des-height">{{move.description}}</p>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_move' pokemon.id move.id %}" method="POST">
              {% csrf_token %}
              <div class="center">
              <button type="submit" class="btn">Forget</button>
            </div>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5 class="center">No Moves</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
<div class="row">
<div class="col s6">
  <h3 class="center white-text">Available Moves</h3>
  {% if moves.count %}
    {% for move in moves.all %}
    {% if move.type in pokemon.type and pokemon.level >= move.level_requirement or move.type == "Normal" and pokemon.level >= move.level_requirement  %}
      <div class="card">
        <div class="card-content center">
          <span class="card-title">
            <h5>{{move.name}}</h5>
            <p class="{{move.type}}-color">{{move.type}}</p>
            <p class="des-height">{{move.description}}</p>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_move' pokemon.id move.id %}" method="POST">
            {% csrf_token %}
            <div class="center">
              {% if pokemon.moves.count < 4 %}
            <button type="submit" class="btn">Add</button>
            {% else %}
            <p>Forget Move to Add</p>
            {% endif %}
          </div>
          </form>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <h5>{{cat.name}} Already Has All Moves Available</h5>
  {% endif %}
</div>
</div>
<script>
  const dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

  const selectEl = document.getElementById("id_interact");
  M.FormSelect.init(selectEl);
</script>

{% endblock %}
