{% extends 'base.html' %}
{% block content %}

<h1 class="center">Pokemon Details</h1>

<div class="card">
    <div class="card-content">
      <span class="card-title">{{ pokemon.name }}</span>
      <p>Type: {{ pokemon.type }}</p>
      <p>Level: {{ pokemon.level }}</p>
      <p>Description: {{ pokemon.description }}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'pokemons_update' pokemon.id %}">Edit</a>
      <a href="{% url 'pokemons_delete' pokemon.id %}">Release</a>
    </div>
  </div>

{% endblock %}