{% extends 'base.html' %}
{% block content %}

<h1 class="center">Pokemon List</h1>

<div class="inline-box">
{% for pokemon in pokemons %}
<div class="col center">
    <div class="col s12 m5 min-height">
      <div class="card">
        <div class="card-image">
          <a href="{% url 'detail' pokemon.id %}">
            {% if latest_pokemon == pokemon %}
            <p class="new-pokemon">NEW</p>
            {% endif %}
          <img class="poke-ball" src="https://www.pngmart.com/files/2/Pokeball-PNG-Photos.png">
        </a>
          <h5>{{ pokemon.name }}</h3>
        </div>
        <div class="card-content">
          <p>Type: {{ pokemon.type }}</p>
          <p>Level: {{ pokemon.level }}</p>
          <p class="des-height">Description: {{ pokemon.description}}</p>
        </div>
        <div class="card-action">
          <a class="margin-center" href="{% url 'detail' pokemon.id %}">I Choose You!</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}